.env
logs/*
.DS_Store
*.sql
*.txt
schema_checker.php
debug_info.php
schema_diff.php
alliances-interest.log
cron_log.txt
*.zip
*.log
adsense.php
schema_checker.php
schema_diff.php
cron_log.txt
ads.txt
vendor/*
*.avif
*.png